{{/* vim: set filetype=gotexttmpl.sh : */}}

{{- $scriptName := ( list ".10_init" .chezmoi.os "sh" | join "." ) -}}
{{- $scriptPath := ( joinPath ( toString .chezmoi.sourceDir ) ".chezmoiscripts" $scriptName ) -}}

{{- if stat $scriptPath -}}
  {{ include $scriptPath }}
{{- end -}}
