{{- $is_headless_machine := true -}}
{{- $is_personal_machine := false -}}
{{- $should_include_secrets := false -}}

{{- $is_github_codespace := empty ( env "CODESPACES" ) | not -}}

{{- if not $is_github_codespace -}}
  {{- $is_headless_machine = promptBool "meta.is.headless_machine" -}}
  {{- $is_personal_machine = promptBool "meta.is.personal_machine" -}}
  {{- $should_include_secrets = promptBool "meta.should.include_secrets" -}}
{{- end -}}

sourceDir: {{ .chezmoi.sourceDir }}

data:
  meta:
    is:
      github_codespace: {{ $is_github_codespace }}
      headless_machine: {{ $is_headless_machine }}
      personal_machine: {{ $is_personal_machine }}
    should:
      include_secrets: {{ $should_include_secrets }}

# vim: set filetype=gotexttmpl.yaml :
