[submodule ".modules/.bash-sensible"]
	path = .modules/.bash-sensible
	url = https://github.com/mrzool/bash-sensible
[submodule ".modules/.dircolors-solarized"]
	path = .modules/.dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule ".scripts.sh"]
	path = .scripts.sh
	url = https://github.com/MunifTanjim/scripts.sh
	shallow = true
