[submodule ".dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule ".bash-it"]
	path = .bash-it
	url = https://github.com/MunifTanjim/bash-it.git
	shallow = true
[submodule "scripts/scripts.bash"]
	path = scripts/scripts.bash
	url = https://bitbucket.org/MunifTanjim/scripts.bash.git
	shallow = true
