# vim: set filetype=gitconfig foldmethod=indent :

[user]
  name = Munif Tanjim
  username = MunifTanjim
  email = {{ template "bitwarden_chezmoi_config" "git.email" }}
  signingkey = 9FA86B9EC363F224

[core]
  editor = vim
  pager = delta
  sshCommand = "ssh -o ControlPath=none"

[diff]
  tool = vimdiff
  algorithm = histogram
[difftool]
  prompt = false
  trustExitCode = true
[difftool "code"]
  cmd = code --wait --diff "$LOCAL" "$REMOTE"
[difftool "vimdiff"]
  cmd = vim -d "$LOCAL" "$REMOTE"

[interactive]
  diffFilter = delta --color-only

[init]
  defaultBranch = main

[merge]
  conflictStyle = merge
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = vim -d "$REMOVE" "$MERGED" "$LOCAL"
  trustExitCode = true

[pull]
  ff = only

[alias]
  co = checkout
  l = log --graph --pretty=oneline --abbrev-commit
  pl = pull
  ps = push
  s  = status --short

[web]
  browser = google-chrome

[push]
  default = simple

[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = red

[delta]
  syntax-theme = gruvbox-dark
  line-numbers = true

[hub]
  protocol = https

[credential]
  helper = {{ if eq .chezmoi.os "darwin" -}} osxkeychain {{- else -}} /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret {{- end }}
[credential "https://github.com"]
  username = MunifTanjim
[credential "https://gist.github.com"]
  username = MunifTanjim
[credential "https://bitbucket.org"]
  username = MunifTanjim
[credential "https://gitlab.com"]
  username = MunifTanjim

[includeIf "gitdir:github/newscred/**"]
  path = ~/.gitconfig.newscred
