[user]
  name = Munif Tanjim
  username = MunifTanjim
  email = {{ template "bitwarden_chezmoi_config" "git.email" }}
  signingkey = 9FA86B9EC363F224

[core]
  editor = vim
  pager = delta
  sshCommand = "ssh -o ControlPath=none"

[diff]
  tool = vimdiff
  algorithm = patience
[difftool]
  prompt = false
  trustExitCode = true
[difftool "code"]
  cmd = code --wait --diff "$LOCAL" "$REMOTE"
[difftool "vimdiff"]
  cmd = vim -d "$LOCAL" "$REMOTE"

[interactive]
  diffFilter = delta --color-only

[merge]
  conflictStyle = merge
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = vim -d "$REMOVE" "$MERGED" "$LOCAL"
  trustExitCode = true

[alias]
  co = checkout

[web]
  browser = google-chrome

[push]
  default = simple

[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = red

[delta]
  syntax-theme = TwoDark
  line-numbers = true

[hub]
  protocol = https

[credential]
  helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
[credential "https://github.com"]
  username = MunifTanjim
[credential "https://gist.github.com"]
  username = MunifTanjim
[credential "https://bitbucket.org"]
  username = MunifTanjim
[credential "https://gitlab.com"]
  username = MunifTanjim

[includeIf "gitdir:team-shopup/**"]
  path = ~/.gitconfig.shopup

# vim: set filetype=gitconfig foldmethod=indent :
