#!/usr/bin/env bash

{{ if eq .chezmoi.os "linux" }}

if ! type setup-from-github-release >/dev/null 2>&1; then
  echo "not found: setup-from-github-release"
  exit 0
fi

echo ""
echo "==========================================="
echo "= Installing Packages from GitHub Release ="
echo "==========================================="
echo ""

declare -A GITHUB_PACKAGE_REPOSITORY=(
  [bat]="sharkdp/bat"
  [fd]="sharkdp/fd"
  [rg]="BurntSushi/ripgrep"
)

declare -A GITHUB_PACKAGE_URL_PATTERN=(
  [bat]="amd64.deb"
  [fd]="amd64.deb"
  [rg]="amd64.deb"
)

echo "${!GITHUB_PACKAGE_REPOSITORY[@]}"
echo ""

for bin_name in "${!GITHUB_PACKAGE_REPOSITORY[@]}"; do
  setup-from-github-release \
    "${bin_name}" \
    "${GITHUB_PACKAGE_REPOSITORY[${bin_name}]}" \
    "${GITHUB_PACKAGE_URL_PATTERN[${bin_name}]}"
done

{{ end }}

