{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

if ! type setup-from-github-release >/dev/null 2>&1; then
  echo "not found: setup-from-github-release"
  exit 0
fi

echo ""
echo "==========================================="
echo "= Installing Packages from GitHub Release ="
echo "==========================================="
echo ""

declare -A GITHUB_PACKAGE_REPOSITORY=(
  [bat]="sharkdp/bat"
  [delta]="dandavison/delta"
  [fd]="sharkdp/fd"
  [gh]="cli/cli"
  [rg]="BurntSushi/ripgrep"
)

declare -A GITHUB_PACKAGE_URL_PATTERN=(
  [bat]="musl.+amd64.deb"
  [delta]="musl.+amd64.deb"
  [fd]="musl.+amd64.deb"
  [gh]="_linux_amd64.deb"
  [rg]="amd64.deb"
)

echo "${!GITHUB_PACKAGE_REPOSITORY[@]}"
echo ""

for bin_name in "${!GITHUB_PACKAGE_REPOSITORY[@]}"; do
  setup-from-github-release \
    "${GITHUB_PACKAGE_REPOSITORY[${bin_name}]}" \
    "${GITHUB_PACKAGE_URL_PATTERN[${bin_name}]}"
done

{{- end }}

# vim: set filetype=gotexttmpl.sh :
