#!/usr/bin/env bash

{{ if eq .chezmoi.os "linux" }}

echo ""
echo "=================================="
echo "= Creating Necessary Directories ="
echo "=================================="
echo ""

declare NECESSARY_DIRECTORIES=(
  ~/.cache/nano/backup
  ~/.local/share/mpd/playlists
  ~/.local/share/{nvim,vim}/{backup,swap,undo}
)

printf '> %s\n' "${NECESSARY_DIRECTORIES[@]}"
echo ""

mkdir -p "${NECESSARY_DIRECTORIES[@]}"

{{ end }}

