{{/* vim: set filetype=gotexttmpl.sh : */}}

{{- $scriptName := ( list ".21_settings" .chezmoi.os "sh" | join "." ) -}}
{{- $scriptPath := ( joinPath ( toString .chezmoi.sourceDir ) $scriptName ) -}}

{{- if stat $scriptPath -}}
  {{ include $scriptName }}
{{- end -}}
