#!/usr/bin/env bash

{{ if eq .chezmoi.os "linux" }}

if ! type snap >/dev/null 2>&1; then
  exit 0
fi

echo ""
echo "======================================"
echo "= Installing Snap Packages (classic) ="
echo "======================================"
echo ""

declare SNAP_CLASSIC_PACKAGES=(
  asciinema code go
)

echo "${SNAP_CLASSIC_PACKAGES[@]}"
echo ""

for package in "${SNAP_CLASSIC_PACKAGES[@]}"; do
  snap install "${package}" --classic
done

echo ""
echo "====================================="
echo "= Installing Snap Packages (strict) ="
echo "====================================="
echo ""

declare SNAP_PACKAGES=(
  authy bucklespring hugo
  opera postman vlc
)

echo "${SNAP_PACKAGES[@]}"
echo ""

for package in "${SNAP_PACKAGES[@]}"; do
  snap install "${package}"
done

{{ end }}

