{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

echo ""
echo "========================="
echo "= Running Setup Scripts ="
echo "========================="
echo ""

declare SETUP_SCRIPTS=(
  setup-pyenv
  setup-rbenv
  setup-volta
  setup-zinit
  setup-apt-fast
  setup-docker
  setup-fzf
  setup-git-credential-libsecret
  setup-keybase
  setup-neovim
  setup-postman
  setup-rofi
  setup-starship
  setup-youtube-dl
)

for script in "${SETUP_SCRIPTS[@]}"; do
  echo ""
  if type "${script}" >/dev/null 2>&1; then
    echo "[${script}] started"
    echo ""
    ${script}
    echo ""
    echo "[${script}] ended"
  else
    echo "[${script}] not found!"
  fi
  echo ""
done

{{- end }}

# vim: set filetype=gotexttmpl.sh :
