# vim: set filetype=sshconfig :

Host omega
  HostName omega.tailscale.muniftanjim.dev

Host gamma
  User {{ "bXVuaWZ0YW5qaW0=" | b64dec }}
  HostName gamma.tailscale.muniftanjim.dev

Host optimizely-muniftanjim
  User {{ "bXVuaWYudGFuamlt" | b64dec }}
  HostName optimizely-muniftanjim.tailscale.muniftanjim.dev

Host box
  User {{ "bXVuaWZ0YW5qaW0=" | b64dec }}
  HostName box.tailscale.muniftanjim.dev
  RequestTTY yes
  RemoteCommand tmux attach-session -t box || tmux new-session -s box

Host toolbox
  User {{ "bXVuaWZ0YW5qaW0=" | b64dec }}
  HostName toolbox.tailscale.muniftanjim.dev
  RequestTTY yes
  RemoteCommand tmux attach-session -t toolbox || tmux new-session -s toolbox

Host torbox
  User {{ "bXVuaWZ0YW5qaW0=" | b64dec }}
  HostName torbox.tailscale.muniftanjim.dev
  RequestTTY yes
  RemoteCommand tmux attach-session -t torbox || tmux new-session -s torbox

# headless dev machine
Host optibox*
  User munif.shaikat
  HostName optibox.tailscale.muniftanjim.dev
  ForwardAgent yes
  # ForwardX11 yes
  # ForwardX11Trusted yes
  # LocalForward 3000 localhost:3000
  # LocalForward 3333 localhost:3333
  # LocalForward 4000 localhost:4000
  # LocalForward 5000 localhost:5000
  # LocalForward 5049 localhost:5049
  # LocalForward 7848 localhost:7848
  # LocalForward 9201 localhost:9201
  # LocalForward 9204 localhost:9204
  # LocalForward 35729 localhost:35729
Host optibox-bare
  # without tmux
Host optibox
  RequestTTY yes
  RemoteCommand tmux attach-session -t optibox || tmux new-session -s optibox
