set folder    = "~/.local/share/Mail"

set sendmail  = "msmtp -a shopup"

set spoolfile = "+shopup/Inbox"
set mbox      = "+shopup/Archive"
set postponed = "+shopup/Drafts"
set record    = "+shopup/Sent"
set trash     = "+shopup/Trash"

unmailboxes *
mailboxes =shopup/Inbox =shopup/Starred
mailboxes =shopup/Sent =shopup/Drafts
mailboxes =shopup/Trash =shopup/Archive
mailboxes =shopup/Spam

set realname = "Munif Tanjim"
set from     = "{{ template "bitwarden_chezmoi_config" "email.shopup" }}"
alternates {{ template "bitwarden_chezmoi_config" "email.shopup.mutt.alternates" }}

set signature = "~/.config/neomutt/signatures/shopup"

set copy   = no
set delete = yes
set move   = no

macro index       gu "<shell-escape>mbsync shopup<enter>" "run mbsync to sync mail for this account"

macro index,pager mA "<save-message>+shopup/Archive" "move message to the archive"
macro index,pager mI "<save-message>+shopup/Inbox" "move message to the inbox"

color status cyan default

# vim: filetype=muttrc
