defaults
auth on
tls on
tls_starttls off
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile ~/.cache/msmtp/msmtp.log

account personal
host smtp.gmail.com
port 465
tls_fingerprint D6:75:EC:30:6C:71:36:35:7E:FA:A3:77:5F:93:B9:6A:C2:06:54:47
auth oauthbearer
user {{ template "bitwarden_chezmoi_config" "email_personal" }}
passwordeval "gmail-oauth2 access_token personal"
from {{ template "bitwarden_chezmoi_config" "email_personal_from" }}

account default : personal

# vim: filetype=msmtp
