window-decoration = false
window-padding-balance = true

mouse-hide-while-typing = true

theme = gruvbox-dark
cursor-invert-fg-bg = true
selection-invert-fg-bg = true

font-size = 15

initial-command = zsh -l -c "tmux attach || tmux"

config-file = {{ .chezmoi.os }}.config
